
  <!--/ Form Join Waitlist or Invest Start /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <!-- <h3 class="title-d">Invest Now</h3> -->
      <h3 class="title-d">Join the wailist</h3>
    </div> 
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a waitlistForm" action="" method="post" role="form">
        <div id="waitlistForm_sendmessage">You've successfully joined. Thank you!</div>
        <div id="waitlistForm_errormessage">Sorry, something went wrong.</div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="full_name">Full Name</label>
              <input type="text" name="full_name" class="form-control form-control-lg form-control-a" placeholder="Enter Your Full Name"
               data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validation"></div>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="phone">Contact</label>
              <input name="phone" type="number" class="form-control form-control-lg form-control-a" placeholder="Enter Your Phone Number"
              data-rule="minlen:10" data-msg="Please enter a valid phone number">
              <div class="validation"></div>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" type="email" class="form-control form-control-lg form-control-a" placeholder="Enter Your Email"
               data-rule="email" data-msg="Please enter a valid email">
              <div class="validation"></div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button type="submit" class="btn btn-b">Join</button>
            </div>
          </div>
          <!-- <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="pType">Payment Type</label>
              <select class="form-control form-control-lg form-control-a" id="pType">
                <option>VISA Card</option>
                <option>Mobile Money</option>
                <option>Cash</option>
              </select>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="card">Card Number</label>
              <input type="number" class="form-control form-control-lg form-control-a" placeholder="Enter Card Number">
              <div class="validation"></div>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="cvc">CVC</label>
              <input type="number" class="form-control form-control-lg form-control-a" placeholder="Enter CVC">
              <div class="validation"></div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button type="submit" class="btn btn-b">Invest</button>
            </div>
          </div> -->          
        </div>
      </form>
    </div>
  </div>
  <!--/ Form Join Waitlist or Invest End /-->


  <!--/ Form Search Star /-->
  <!-- <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="Type">Keyword</label>
              <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="type">Type</label>
              <select class="form-control form-control-lg form-control-a" id="type"></select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="country">Country</label>
              <select class="form-control form-control-lg form-control-a" id="country"></select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="city">City</label>
              <select class="form-control form-control-lg form-control-a" id="city"></select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="price">Min Price</label>
              <select class="form-control form-control-lg form-control-a" id="price"></select>
            </div>
          </div> -->
          <!-- <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bedrooms">Bedrooms</label>
              <select class="form-control form-control-lg form-control-a" id="bedrooms">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="garages">Garages</label>
              <select class="form-control form-control-lg form-control-a" id="garages">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bathrooms">Bathrooms</label>
              <select class="form-control form-control-lg form-control-a" id="bathrooms">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
              </select>
            </div>
          </div> -->
          <!--  -->
          <!-- <div class="col-md-12">
            <div class="form-group">
              <button type="submit" class="btn btn-b">Search Property</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div> -->
  <!--/ Form Search End /-->
